<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{admin/layouts/principal/principalLayout}" th:with="modulo='eventos',submodulo='eventos'">


<th:block layout:fragment="html_head">
	<link th:href="${@helper.assets('css/noticias.style.css')}" rel="stylesheet" />
	<script th:src="${@helper.assets('jsc/eventos/eventos.jquery.js')}"></script>
	
	<style>
		.ui-state-highlight { border:1px dotted #ccc }
		.tabs-lg-alternate.card-header>.nav .nav-link{padding: 1.1rem 0; }
		.modal-full {
			    min-width: 90%;
			    margin: 0 auto;
			    margin-top:5vh;
			}
		.modal-content {height: 100%;}
	</style>

</th:block>


<body>

<div layout:fragment="content">

	
	
	
<div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-medal icon-gradient bg-tempting-azure">
                                    </i>
                                </div>
                                <div>Eventos

                                </div>
                            </div>
                            <div class="page-title-actions">
                                    <a th:href="${@helper.baseUrl('eventos/nuevo')}" id="btn-nuevo" class="btn-shadow btn btn-success"><i class="fa fa-plus-circle fa-w-20"></i> Nuevo</a>
                            </div>    </div>
</div>


<div class="main-card mb-3 card">
     <div class="card-body">
                        
        	    	                
	    	                
	    	                
	    	                
	                          
  <table style="width: 100%;" id="lista-eventos" class="table table-striped table-bordered dataTable">

  <thead>
    <tr>
      <th>ID</th>
      <th>Imagen</th>
      <th>Título</th>
      <th>Categoría</th>
      <th>Fecha inicio</th>
      <th>Fecha final</th>
      <th>Opciones</th>
    </tr>
  </thead>

</table>
</div></div>



	
	
	

</div>





<div layout:fragment="content_footer">

</div>

</body>
</html>